# Java general
*.class
*.jar
*.war
*.ear
*.log
*.iml

# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
.gradle-cache/

# IntelliJ IDEA
.idea/
*.iws
*.ipr
*.iml
out/

# Eclipse
.classpath
.project
.settings/

# NetBeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# VS Code
.vscode/

# OS Files
.DS_Store
Thumbs.db
*.swp